// GLOBALS
$red: #ff0000;
$gray: #f8f8f8;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $gray;
  // height: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

button,
input[type="submit"] {
  cursor: pointer;
}

// HEADER

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.header-top {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 34px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);

  @media (max-width: 1400px) {
    padding: 27px;
  }
}

.header-field-2 {
  display: flex;
  gap: 15px;

  @media (max-width: 1400px) {
    display: none;
  }

  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    // text-align: left;
  }

  a:first-child {
    text-decoration: underline;
  }
}

.header-field-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  background-color: white;
  border: 0;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  a::after {
    content: "";
    width: 1px;
    height: 18px;
    display: inline-block;
    margin: 0 2px;
    background: #c4c4c4;
  }

  a:last-child::after {
    display: none;
  }
}

.input-container {
  width: 510px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: 1700px) {
    width: 610px;
  }

  @media (max-width: 1400px) {
    width: 400px;
  }

  img {
    left: 4%;
    position: absolute;
    width: 20px;
    aspect-ratio: 1;
  }

  button {
    border-radius: 36px;
    position: absolute;
    height: 34px;
    width: 104px;
    right: 6px;
    background-color: #ff0000;
    color: white;
    border: 0;
    font-weight: 600;
    cursor: pointer;
  }

  input {
    background-color: $gray;
    border-radius: 36px;
    border: 1px solid rgba(196, 196, 196, 0.3);
    width: 100%;
    height: 100%;
    padding-left: 50px;
    font-size: 16px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.header-field-5 {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  .header-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    background-color: transparent;
    border: 0;

    &:nth-child(3) {
      position: relative;

      &::after {
        content: "2";
        position: absolute;
        top: -5px;
        right: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $red;
        display: grid;
        place-items: center;
        font-size: 12px;
        color: white;
      }
    }

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
    }

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.header-bottom {
  height: 70px; //90px
  padding: 10px 33px;
  width: 100%;

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    li {
      font-size: 13px; //16px
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.019em;
      cursor: pointer;

      &:nth-child(2) {
        color: $red;
      }

      &.responsive {
        @media (max-width: 1400px) {
          display: none;
        }
      }
    }
  }
}

// MAIN

main {
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top: 60px;
  // display: none;
}

section {
  display: flex;
  flex-direction: column;
  width: 1200px;
  gap: 25px;

  .section-header {
    display: flex;
    justify-content: space-between;

    .section-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
    }

    .breadcrumb {
      display: flex;
      gap: 25px;

      li {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        position: relative;

        &:hover {
          a {
            text-decoration: underline;
          }
          &.active a {
            text-decoration: none;
          }
        }

        &.active {
          a {
            color: #606060;
          }
        }

        a {
          color: #a5a5a5;
          display: inline-block;
          width: 100%;
          transition: 0.3s;
        }
      }

      li::after {
        content: ">";
        position: absolute;
        right: -15px;
      }

      li:last-child::after {
        display: none;
      }
    }
  }

  .section-body {
    border-radius: 4px;
    height: 670px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.02);
    padding: 35px 41px;
    display: grid;
    grid-template-columns: 4fr 3fr;

    .images {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr 1fr 1fr;

      .col1 {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          height: 31px;
          width: 120px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          border: 0;
          background-color: white;
        }
      }

      .col2 {
        grid-column: span 5;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      overflow-x: scroll;
      // justify-content: space-between;

      .row1 {
        display: flex;
        flex-direction: column;
      }

      .row2 {
        display: flex;

        @media (max-width: 1400px) {
          // flex-direction: column;
          // align-items: flex-start;
        }

        ul {
          display: flex;
        }

        .gray-bordered {
          border: 1px solid #e9e9e9;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          padding: 14px 20px;
        }
      }
    }
  }
}

// FOOTER

footer {
  color: white;
}

.footer-top {
  height: 238px;
  background-color: #26282b;
  display: grid;
  grid-template-columns: 5fr 3fr;
  padding: 30px 200px;
  gap: 150px;

  @media (max-width: 1500px) {
    padding: 30px 100px;
    gap: 100px;
  }

  .footer-menus {
    display: flex;
    justify-content: space-between;

    .footer-menu {
      display: flex;
      flex-direction: column;
      gap: 3px;
      justify-content: space-between;

      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .heading {
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0.05em;
      }
    }
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .heading {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
    }

    form {
      display: flex;
      gap: 10px;

      input[type="email"] {
        width: 256px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid rgba(196, 196, 196, 0.3);
        background-color: white;
        padding: 15px;
      }

      input[type="submit"] {
        background-color: $red;
        color: white;
        border-radius: 4px;
        padding: 14px 28px;
        border: 0;
      }
    }

    a {
      text-decoration: underline;
      color: white;
    }
  }
}

.footer-bottom {
  height: 56px;
  background-color: #221f23;
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 20px 200px;

  @media (max-width: 1500px) {
    padding: 30px 100px;
  }

  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }

  .col1 {
    flex: 2;
    display: flex;
    gap: 30px;
  }

  .col2 {
    flex: 3;
  }

  .col3 {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 40px;
  }
}
